body {
  box-sizing: border-box;
  padding: 6%;
  font-family: sans-serif;
  background-color: white;
}
#title{
  text-align: center;
}

#root {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(400px, auto);
  grid-auto-flow: dense;
}
